
<mat-toolbar class="toolbar" color="accent">
  <span>TO-DO ANGULAR LIST</span>
</mat-toolbar>
<mat-toolbar color="primary">
  <span *ngIf="categories.length > 0; else elseBlock1">Количество категорий: {{categories.length}}  </span>
  <ng-template #elseBlock1>
    <span>Еще нет категорий...</span>
  </ng-template>
</mat-toolbar>
<mat-toolbar color="primary">
  <span *ngIf="tasks.length > 0; else elseBlock2">Количество задач: {{tasks.length}}</span>
  <ng-template #elseBlock2>
    <span>Еще нет задач...</span>
  </ng-template>
  {{check()}}
</mat-toolbar>
<div class="wraper">
  <div class="content">
    <mat-card class="task-add">
      <form [formGroup]="form" (submit)="submit_category()" novalidate>
        <mat-form-field>
            <input matInput formControlName="category" placeholder="Описание категории">
        </mat-form-field>
        <button mat-raised-button color="primary">Добавить</button>
      </form>
    </mat-card>
    <div *ngFor="let category of categories" class="task-list">
      <mat-card class="task-item">
        <button mat-icon-button (click)="deleteCaregory(categories.indexOf(category))" color="warn">
          <mat-icon>clear</mat-icon>
        </button>
        <span>{{category}}</span>
      </mat-card>
    </div>
  </div>
  <div class="content">
    <mat-card class="task-add">
      <form [formGroup]="form" (submit)="submit_task()" novalidate>
        <mat-form-field>
            <input matInput formControlName="task" placeholder="Описание задачи">
        </mat-form-field>
        <button mat-raised-button color="primary">Добавить</button>
      </form>
    </mat-card>
    <div *ngFor="let task of tasks" class="task-list">
      <mat-card class="task-item">
        <button mat-icon-button (click)="deleteTask(tasks.indexOf(task))" color="warn">
          <mat-icon>clear</mat-icon>
        </button>
        <span>{{task}}</span>
      </mat-card>
    </div>
  </div>
</div>

